*.exe
*.rpt
*.ini
*.csv
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.html
*.ncd
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*.xrpt
*.txt
*.xrpt
*.html
*.xml
*.xml
*.xrpt
*.log
*.xmsgs
*.cmd
*.wdb
*.lst
iseconfig
isim
xst
