#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#
# This file is a .ucf for Mimas (http://www.numato.com)                                               #
# To use it in your project :                                                                         #
# * Remove or comment the lines corresponding to unused pins in the project.                          #
# * Rename the used signals according to the your project.                                            #
# * For more detail refer to the User Guide available at http://numato.com/products/fpga-boards/      #
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#

#**************************************************************************************************************************************************#
#                                            UCF for Mimas                                                                                         #
#**************************************************************************************************************************************************#

NET "clk_100mhz_in" LOC = P126 | PERIOD = 100MHz ;

###################################################################################################################################################
#                                                 LEDs                                                                                            #
################################################################################################################################################### 

NET "LED[0]" 			  LOC = P119	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "LED[1]" 			  LOC = P118	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "LED[2]" 			  LOC = P117	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "LED[3]" 			  LOC = P116	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "LED[4]" 			  LOC = P115	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "LED[5]" 			  LOC = P114	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "LED[6]" 			  LOC = P112	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "LED[7]" 			  LOC = P111	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
###################################################################################################################################################
#                                                Push Button Switches                                                                             #
################################################################################################################################################### 

NET "Switch[0]" 			  LOC = P124	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Switch[1]" 			  LOC = P123	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Switch[2]" 			  LOC = P121	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Switch[3]" 			  LOC = P120	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;

###################################################################################################################################################
#                                                   HEADER P2                                                                                     #
##################################################################################################################################################
NET "IO_P2[0]"                   LOC = P131     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 3  # IO_L35N_GCLK16_0    		Sch = GPIO-N1
NET "IO_P2[1]"                   LOC = P133     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 5  # IO_L34N_GCLK18_0   		Sch = GPIO-N2
NET "IO_P2[2]"                   LOC = P137     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 7  # IO_L4N_0   	   		Sch = GPIO-N3
NET "IO_P2[3]"                   LOC = P139     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 9  # IO_L3N_0 	   		Sch = GPIO-N4
NET "IO_P2[4]"                   LOC = P141     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 11  # IO_L2N_0           		Sch = GPIO-N5
NET "IO_P2[5]"                   LOC = P1	    | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 13  # IO_L83N_VREF_3     		Sch = GPIO-N6
NET "IO_P2[6]"                   LOC = P5     	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 15  # IO_L52N_3          		Sch = GPIO-N7
NET "IO_P2[7]"                   LOC = P7       | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 17 # IO_L51N_3           		Sch = GPIO-N8
NET "IO_P2[8]"                   LOC = P9       | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | CLOCK_DEDICATED_ROUTE = FALSE; #Pin 19 # IO_L50N_3           		Sch = GPIO-N9
NET "IO_P2[9]"                   LOC = P11      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 21  # IO_L49N_3          		Sch = GPIO-N10
#NET "IO_P2[10]"                  LOC = P14      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 23  # IO_L44N_GCLK20_3   		Sch = GPIO-N11
#NET "IO_P2[11]"                  LOC = P16      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 25  # IO_L43N_GCLK22_IRDY2_3  	Sch = GPIO-N12
#NET "IO_P2[12]"                  LOC = P21      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 27  # IO_L42N_GCLK24_3   		Sch = GPIO-N13
#NET "IO_P2[13]"                  LOC = P23      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 29  # IO_L41N_GCLK26_3   		Sch = GPIO-N14
#NET "IO_P2[14]"                  LOC = P26      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 31  # IO_L37N_3          		Sch = GPIO-N15
#NET "IO_P2[15]"                  LOC = P29      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 33  # IO_L36N_3          		Sch = GPIO-N16
#NET "IO_P2[16]"                  LOC = P32      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 35  # IO_L2N_3           		Sch = GPIO-N17
#NET "IO_P2[17]"                  LOC = P34      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 37  # IO_L1N_VREF_3      		Sch = GPIO-N18  
 
#NET "IO_P2[18]"                  LOC = P132     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 4   # IO_L35P_GCLK17_0   		Sch = GPIO-P1
#NET "IO_P2[19]"                  LOC = P134     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 6   # IO_L34P_GCLK19_0   		Sch = GPIO-P2
#NET "IO_P2[20]"                  LOC = P138     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 8   # IO_L4P_0	   		Sch = GPIO-P3
#NET "IO_P2[21]"                  LOC = P140     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 10  # IO_L3P_0	   		Sch = GPIO-P4
#NET "IO_P2[22]"                  LOC = P142     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 12  # IO_L2P_0	   		Sch = GPIO-P5
#NET "IO_P2[23]"                  LOC = P2       | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 14  # IO_L83P_3	  		Sch = GPIO-P6
#NET "IO_P2[24]"                  LOC = P6       | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 16  # IO_L52P_3	   		Sch = GPIO-P7
#NET "IO_P2[25]"                  LOC = P8       | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 18  # IO_L51P_3	   		Sch = GPIO-P8
#NET "IO_P2[26]"                  LOC = P10      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 20  # IO_L50P_3 	   		Sch = GPIO-P9
#NET "IO_P2[27]"                  LOC = P12      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 22  # IO_L49P_3          		Sch = GPIO-P10
#NET "IO_P2[28]"                  LOC = P15      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 24  # IO_L44P_GCLK21_3   		Sch = GPIO-P11
#NET "IO_P2[29]"                  LOC = P17      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 26  # IO_L43P_GCLK23_3   		Sch = GPIO-P12
#NET "IO_P2[30]"                  LOC = P22      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 28  # IO_L42P_GCLK25_TRDY2_3  	Sch = GPIO-P13
#NET "IO_P2[31]"                  LOC = P24      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 30  # IO_L41P_GCLK27_3   		Sch = GPIO-P14
#NET "IO_P2[32]"                  LOC = P27      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 32  # IO_L37P_3	   		Sch = GPIO-P15
#NET "IO_P2[33]"                  LOC = P30      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 34  # IO_L36P_3          		Sch = GPIO-P16
#NET "IO_P2[34]"                  LOC = P33      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 36  # IO_L2P_3	   		Sch = GPIO-P17
#NET "IO_P2[35]"                  LOC = P35      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 38  # IO_L1P_3           		Sch = GPIO-P18
###################################################################################################################################################
#                                                   HEADER P3                                                                                     #
###################################################################################################################################################
NET "IO_P3[0]"                   LOC = P104     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 4  # IO_L1N_VREF_1       		Sch = GPIO-N21
#NET "IO_P3[1]"                   LOC = P101     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 6  # IO_L32N_1	   		Sch = GPIO-N20
#NET "IO_P3[2]"                   LOC = P99      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 8  # IO_L33N_1   	   		Sch = GPIO-N35
#NET "IO_P3[3]"                   LOC = P97      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 10 # IO_L34N_1  	   		Sch = GPIO-N34
#NET "IO_P3[4]"                   LOC = P94      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 12 # IO_L40N_GCLK10_1    		Sch = GPIO-N33
#NET "IO_P3[5]"                   LOC = P92	 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 14 # IO_L41N_GCLK8_1     		Sch = GPIO-N32
#NET "IO_P3[6]"                   LOC = P87    	 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 16 # IO_L42N_GCLK6_TRDY1_1      	Sch = GPIO-N31
#NET "IO_P3[7]"                   LOC = P84      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 18 # IO_L43N_GCLK4_1     		Sch = GPIO-N30
#NET "IO_P3[8]"                   LOC = P82      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 20 # IO_L45N_1	   		Sch = GPIO-N29
#NET "IO_P3[9]"                   LOC = P80      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 24 # IO_L46N_1 	   		Sch = GPIO-N28
#NET "IO_P3[10]"                  LOC = P78      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 26  # IO_L47N_1	   		Sch = GPIO-N27
#NET "IO_P3[11]"                  LOC = P74      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 28  # IO_L74N_DOUT_BUSY_1       	Sch = GPIO-N26
#NET "IO_P3[12]"                  LOC = P55      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 30  # IO_L30N_GCLK0_USERCCLK_2  	Sch = GPIO-N19
#NET "IO_P3[13]"                  LOC = P50      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 32  # IO_L31N_GCLK30_D15_2	  	Sch = GPIO-N22
#NET "IO_P3[14]"                  LOC = P47      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 34  # IO_L48N_RDWR_B_VREF_2	  	Sch = GPIO-N24
#NET "IO_P3[15]"                  LOC = P45      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 36  # IO_L49N_D4_2	   		Sch = GPIO-N25
#NET "IO_P3[16]"                  LOC = P43      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 38  # IO_L62N_D6_2       		Sch = GPIO-N23  
 
#NET "IO_P3[18]"                  LOC = P105     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 3   # IO_L1P_1			Sch = GPIO-P21
#NET "IO_P3[19]"                  LOC = P102     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 5   # IO_L32P_1			Sch = GPIO-P20
#NET "IO_P3[20]"                  LOC = P100     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 7   # IO_L33P_1			Sch = GPIO-P35
#NET "IO_P3[21]"                  LOC = P98      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 9  # IO_L34P_1			Sch = GPIO-P34
#NET "IO_P3[22]"                  LOC = P95      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 11  # IO_L40P_GCLK11_1		Sch = GPIO-P33
#NET "IO_P3[23]"                  LOC = P93      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 13  # IO_L41P_GCLK9_IRDY1_1 		Sch = GPIO-P32
#NET "IO_P3[24]"                  LOC = P88      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 15  # IO_L42P_GCLK7_1			Sch = GPIO-P31
#NET "IO_P3[25]"                  LOC = P85      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 17  # IO_L43P_GCLK5_1			Sch = GPIO-P30
#NET "IO_P3[26]"                  LOC = P83      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 19  # IO_L45P_1			Sch = GPIO-P29

#NET "IO_P3[27]"                  LOC = P81      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 23  # IO_L46P_1			Sch = GPIO-P28
#NET "IO_P3[28]"                  LOC = P79      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 25  # IO_L47P_1			Sch = GPIO-P27
#NET "IO_P3[29]"                  LOC = P75      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 27  # IO_L74P_AWAKE_1			Sch = GPIO-P26
#NET "IO_P3[30]"                  LOC = P56      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 29  # IO_L30P_GCLK1_D13_2	  	Sch = GPIO-P19
#NET "IO_P3[31]"                  LOC = P51      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 31  # IO_L31P_GCLK31_D14_2      	Sch = GPIO-P22
#NET "IO_P3[32]"                  LOC = P48      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 33  # IO_L48P_D7_2			Sch = GPIO-P24
#NET "IO_P3[33]"                  LOC = P46      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 35  # IO_L49P_D3_2			Sch = GPIO-P25
#NET "IO_P3[34]"                  LOC = P44      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 37  # IO_L62P_D5_2			Sch = GPIO-P23
###################################################################################################################################################